@import 'tailwindcss';

@layer base {
  body{
    @apply bg-gray-500
  }
  h1 {
    @apply text-3xl font-bold text-gray-900 mb-4;
  }

  h2 {
    @apply text-2xl font-semibold text-gray-800 mb-3;
  }

  h3 {
    @apply text-xl font-semibold text-gray-700 mb-2;
  }

  p {
    @apply text-base text-gray-700 leading-relaxed mb-2;
  }

  a {
    @apply text-blue-600 hover:underline;
  }

  input, textarea, select {
    @apply border border-gray-300 rounded-md p-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-600 hover:ring-2 hover:ring-blue-400 duration-300;
  }

  button ,input[type = "submit"]{
    @apply bg-blue-600 text-white font-medium px-4 py-2 rounded-md hover:bg-blue-700 active:bg-blue-800 transition-colors cursor-pointer border-0 ring-0;
  }

  label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }
}

@layer components{
  .big-title{
    @apply uppercase text-center text-9xl pt-30
  }
  .nav-link{
    @apply text-xl border-2 p-2 rounded-2xl
  }
}
